In [28]:
import pandas as pd

In [29]:
df = pd.read_csv("ipca_history.csv")
df.head()

,Ano,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,1981,6.82,6.15,5.10,5.04,7.39,3.97,6.69,6.28,5.29,4.57,5.88,4.37
1,1982,8.32,6.14,6.36,5.18,6.46,7.38,6.54,5.94,5.61,4.59,4.59,6.04
2,1983,10.45,6.06,8.54,7.80,5.57,7.87,12.06,8.32,9.48,10.90,6.96,7.44
3,1984,10.14,9.10,8.98,9.23,9.88,8.14,12.62,7.32,11.39,10.87,10.35,10.35
4,1985,14.61,8.95,12.78,8.80,6.76,7.71,9.27,12.10,11.98,9.60,11.12,13.36

In [30]:
# Calculando a inflação acumulada anual
df["ipca_ano"] = df.iloc[:, 1:].apply(lambda x: (x / 100 + 1).prod(), axis=1) - 1

# Convertendo para porcentagem
# df['ipca_ano'] *= 100

# roud to 4 decimal places
df["ipca_ano"] = df["ipca_ano"].apply(lambda x: round(x, 4))

# Exibindo os resultados
df[["Ano", "ipca_ano"]]

     Ano  ipca_ano
0   1981    0.9282
1   1982    1.0330
2   1983    1.6435
3   1984    2.0893
4   1985    2.3365
5   1986    0.7661
6   1987    3.6341
7   1988    9.8022
8   1989   19.7291
9   1990   16.2097
10  1991    4.7269
11  1992   11.1909
12  1993   24.7715
13  1994    9.1643
14  1995    0.2241
15  1996    0.0956
16  1997    0.0522
17  1998    0.0166
18  1999    0.0894
19  2000    0.0597
20  2001    0.0767
21  2002    0.1253
22  2003    0.0930
23  2004    0.0760
24  2005    0.0569
25  2006    0.0314
26  2007    0.0446
27  2008    0.0590
28  2009    0.0431
29  2010    0.0591
30  2011    0.0650
31  2012    0.0584
32  2013    0.0591
33  2014    0.0641
34  2015    0.1067
35  2016    0.0629
36  2017    0.0295
37  2018    0.0375
38  2019    0.0431
39  2020    0.0452
40  2021    0.1006
41  2022    0.0578
42  2023    0.0375

## Calcular a inflação acumulada até o ano de 2023 para cada ano

In [31]:
# Convertendo as taxas para forma decimal
# df['ipca_ano'] /= 100

# Calculando a inflação composta de cada ano até 2023
ano_final = 2023
df["ipca_ate_2023"] = df.apply(
    lambda row: df[(df["Ano"] >= row["Ano"]) & (df["Ano"] <= ano_final)]["ipca_ano"]
    .add(1)
    .prod()
    - 1,
    axis=1,
)

# Convertendo a taxa composta de volta para porcentagem
# df['ipca_ate_2023'] *= 100

# round to 4 decimal places
df["ipca_ate_2023"] = df["ipca_ate_2023"].round(4)

# visualize the data
df[["Ano", "ipca_ate_2023"]]

     Ano  ipca_ate_2023
0   1981   4.070937e+11
1   1982   2.111263e+11
2   1983   1.038496e+11
3   1984   3.928489e+10
4   1985   1.271644e+10
5   1986   3.811311e+09
6   1987   2.158038e+09
7   1988   4.656865e+08
8   1989   4.311034e+07
9   1990   2.079700e+06
10  1991   1.208437e+05
11  1992   2.110025e+04
12  1993   1.729901e+03
13  1994   6.616340e+01
14  1995   5.607800e+00
15  1996   4.398100e+00
16  1997   3.927000e+00
17  1998   3.682600e+00
18  1999   3.606100e+00
19  2000   3.228200e+00
20  2001   2.990000e+00
21  2002   2.705700e+00
22  2003   2.293100e+00
23  2004   2.012900e+00
24  2005   1.800100e+00
25  2006   1.649300e+00
26  2007   1.568700e+00
27  2008   1.459000e+00
28  2009   1.322000e+00
29  2010   1.226100e+00
30  2011   1.101900e+00
31  2012   9.736000e-01
32  2013   8.647000e-01
33  2014   7.606000e-01
34  2015   6.546000e-01
35  2016   4.950000e-01
36  2017   4.066000e-01
37  2018   3.663000e-01
38  2019   3.169000e-01
39  2020   2.625000e-01
40  2021   2.079000e-01
41  2022   9.750000e-02
42  2023   3.750000e-02

In [32]:
# Filter columns
df = df[["Ano", "ipca_ano", "ipca_ate_2023"]]

# save to csv file
df.to_csv("ipca_history_yearly.csv", index=False)